@font-face {
     font-family: primary;
     src: url('../../public//fonts/Outfit//Outfit-VariableFont_wght.ttf');
     font-style: normal;
}
@font-face {
     font-family: bold;
     src: url('../../public//fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
}