@import '../../styles/variables';

.categories {

      .wrapper {
            padding: 4rem 3rem;

            div {
                  width: 100%;
            }

            .tab-buttons {
                  display: flex;
                  gap: 16px;

                  button {
                        background: none;
                        border: none;
                        padding: 8px 16px;
                        cursor: pointer;

                        &.active {
                              border-bottom: 3px solid $accent-color;
                        }
                  }
            }

            .tab-content {
                  width: 100%;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  overflow-x: hidden;

                  h2 {
                        padding: 2.5rem 0;
                        font-weight: 400;
                        color: $text-color-warning;
                        text-shadow: 5px 2px 30px rgba(0, 0, 0, 0.2);
                  }


                  ul {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        row-gap: 1rem;
                        place-items: center;

                        li {
                              padding: 0;margin: 0;
                              
                              .btn {
                            
                                    text-align: center;
                                    min-width: 200px;
                                    justify-content: center;
                                    background: $text-color-accent;
                                    color: $text-color-secondary;

                              }

                              &:hover {
                                    box-shadow: $box-shadow-hover;

                                    * {
                                          color: $text-color-primary;
                                    }
                              }
                        }
                  }
            }
      }
}


// Large devices (desktops, 992px and up)
@media (min-width: 768px) {
      .categories .wrapper .tab-content ul {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
            row-gap: 2rem;
      }
}
@media (min-width: 1152px) {
      .categories .wrapper .tab-content ul {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 3rem;
            row-gap: 2rem;
      }

}